---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyCiEa2zOYvS5-xexZD3kVXPvG2otSsKVyA&maxResults=1&part=snippet&q=india&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "YJN12PdA2oGGqQpCL9BUK1cZq3o",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 98,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "MtC7d-yLeLPh76-yMJqQz1Aj2tY",
              "id": {
                "kind": "youtube#video",
                "videoId": "xvshRPFgCeI"
              },
              "snippet": {
                "publishedAt": "2021-01-12T20:21:11Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of India",
                "description": "Sources: \"The Penguin History of Early India: From the Origins to AD 1300\" (2003) by Romila Thapar. Penguin Books Ltd, London.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/xvshRPFgCeI/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/xvshRPFgCeI/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/xvshRPFgCeI/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-01-12T20:21:11Z"
              }
            }
          ]
        }
  recorded_at: Fri, 08 Mar 2024 18:39:37 GMT
recorded_with: VCR 6.2.0
