---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=7a627b8e6a03e3631f6da8efe34654e1&lat=39.74&lon=-104.98
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"list":[{"main":{"aqi":2},"components":{"co":280.38,"no":4.75,"no2":15.59,"o3":75.82,"so2":5.01,"pm2_5":3.1,"pm10":4.85,"nh3":3.83},"dt":1709573881}]}'
  recorded_at: Mon, 04 Mar 2024 17:42:31 GMT
recorded_with: VCR 6.2.0
