---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=AIzaSyCiEa2zOYvS5-xexZD3kVXPvG2otSsKVyA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "RZ_rBZ1UD81PIsIxz3iT7S5_si8",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "74QTerw7p9yGn9eJ8SlvezaBd00",
              "id": {
                "kind": "youtube#video",
                "videoId": "XeDDljtDr2A"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "ZR0wzBH1HMmkOf8TLh6GS20mePc",
              "id": {
                "kind": "youtube#video",
                "videoId": "A2TbLMUfiCk"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "bbfkNwSXP3RpL-hVs15m-7kbcUk",
              "id": {
                "kind": "youtube#video",
                "videoId": "Pf9KXfo5R18"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "zXvHIB7puVnloOCZ6nLe_PltyiQ",
              "id": {
                "kind": "youtube#video",
                "videoId": "Y3d_26kAMFU"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "UeKD3OQm1pGvSeakCJiJa51ljaU",
              "id": {
                "kind": "youtube#video",
                "videoId": "FvtxkKQaYJM"
              }
            }
          ]
        }
  recorded_at: Fri, 08 Mar 2024 18:39:40 GMT
recorded_with: VCR 6.2.0
