---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=AIzaSyCiEa2zOYvS5-xexZD3kVXPvG2otSsKVyA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "DpcpA8qwSTm2rAuVyiX0IzN5jl8",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "-V9g7YbFF9xRO9IkRrSUQS0skdg",
              "id": {
                "kind": "youtube#video",
                "videoId": "D-C2J3eb5_0"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "IRlUBNpspGHsoRW4C_xuP1IY6TQ",
              "id": {
                "kind": "youtube#video",
                "videoId": "1GyYd_Uq0yc"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "kY2MOUpFiHlkjySuHOSLEPD0ZcQ",
              "id": {
                "kind": "youtube#video",
                "videoId": "u_BSaW4Gw5w"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "L1E9M-UfNcSDTDMEcAaB29vFx2A",
              "id": {
                "kind": "youtube#video",
                "videoId": "bPlj9mrV5Os"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "c0RBdVYpcRuKXtx97rx0IxPUfWw",
              "id": {
                "kind": "youtube#video",
                "videoId": "mPYTYub7NUs"
              }
            }
          ]
        }
  recorded_at: Wed, 06 Mar 2024 18:10:04 GMT
recorded_with: VCR 6.2.0
