---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=AIzaSyCiEa2zOYvS5-xexZD3kVXPvG2otSsKVyA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "2O_S3MIm9C8Wj1cUUlyMvMQOHQE",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "ZemX65gDv_umhvYyfjibeYYr-7I",
              "id": {
                "kind": "youtube#video",
                "videoId": "vcgW5wSlmEo"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "qGCj4MQYtLRbNJtWC_MsDzqFM9c",
              "id": {
                "kind": "youtube#video",
                "videoId": "cKvqSLiOT3A"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "rNCz5a9gVFbZ_jCg_555Hwy3lXk",
              "id": {
                "kind": "youtube#video",
                "videoId": "xCfw-A4KkSw"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "kA_eJtGf7yn5aQb_hftRizdqPyY",
              "id": {
                "kind": "youtube#video",
                "videoId": "o8JGsBDY1xI"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "p0gZXPOKocmWhaBRKtILU6cYuGU",
              "id": {
                "kind": "youtube#video",
                "videoId": "byq-RezV1Y8"
              }
            }
          ]
        }
  recorded_at: Wed, 06 Mar 2024 18:05:35 GMT
recorded_with: VCR 6.2.0
