---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/direct?appid=7a627b8e6a03e3631f6da8efe34654e1&limit=1&q=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"name":"Thailand","lat":7.4931858,"lon":124.724704,"country":"PH","state":"North
        Cotabato"}]'
  recorded_at: Mon, 04 Mar 2024 17:41:19 GMT
recorded_with: VCR 6.2.0
