---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/italy?fields=name,capital,latlng
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Italy","official":"Italian Republic","nativeName":{"ita":{"official":"Repubblica
        italiana","common":"Italia"}}},"capital":["Rome"],"latlng":[42.83333333,12.83333333]}]'
  recorded_at: Tue, 05 Mar 2024 18:51:04 GMT
recorded_with: VCR 6.2.0
