---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/direct?appid=7a627b8e6a03e3631f6da8efe34654e1&limit=1&q=India
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"name":"India","lat":2.183333,"lon":33.683333,"country":"UG","state":"Kapelebyong"}]'
  recorded_at: Mon, 04 Mar 2024 18:34:57 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=7a627b8e6a03e3631f6da8efe34654e1&lat=2.18&lon=33.68
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":33.68,"lat":2.18},"list":[{"main":{"aqi":1},"components":{"co":337.12,"no":0,"no2":1.78,"o3":15.56,"so2":0.39,"pm2_5":4.15,"pm10":8.23,"nh3":3.17},"dt":1709577299}]}'
  recorded_at: Mon, 04 Mar 2024 18:34:59 GMT
recorded_with: VCR 6.2.0
