---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=7a627b8e6a03e3631f6da8efe34654e1&lat=39.74&lon=-104.98
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.9847,"lat":39.7392},"list":[{"main":{"aqi":3},"components":{"co":236.99,"no":1.62,"no2":5.83,"o3":101.57,"so2":2.65,"pm2_5":4.31,"pm10":10.52,"nh3":2},"dt":1709583624}]}'
  recorded_at: Mon, 04 Mar 2024 20:20:48 GMT
recorded_with: VCR 6.2.0
