---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=7a627b8e6a03e3631f6da8efe34654e1&lat=39.74&lon=-104.98
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.9847,"lat":39.7392},"list":[{"main":{"aqi":2},"components":{"co":243.66,"no":2.29,"no2":7.71,"o3":91.55,"so2":3.04,"pm2_5":2.98,"pm10":6.85,"nh3":2.5},"dt":1709577670}]}'
  recorded_at: Mon, 04 Mar 2024 18:44:48 GMT
recorded_with: VCR 6.2.0
