---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=7a627b8e6a03e3631f6da8efe34654e1&lat=39.74&lon=-104.98
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"list":[{"main":{"aqi":2},"components":{"co":313.76,"no":5.7,"no2":20.74,"o3":67.95,"so2":4.89,"pm2_5":3.39,"pm10":4.76,"nh3":4.24},"dt":1709571788}]}'
  recorded_at: Mon, 04 Mar 2024 17:08:11 GMT
recorded_with: VCR 6.2.0
