---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=AIzaSyCiEa2zOYvS5-xexZD3kVXPvG2otSsKVyA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "MV0Sakb4uF_uEAlFPxCTk-Dm2AE",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "MoVJneAsMx-1NQFwo5liZQrr_AY",
              "id": {
                "kind": "youtube#video",
                "videoId": "_uCHeU_rDbY"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "fc3CF3AvdxXxmd19Hdktml-k9To",
              "id": {
                "kind": "youtube#video",
                "videoId": "lN52W4Lbtws"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "nfAPDXJgLEHpy41A-ffXUAI-fGM",
              "id": {
                "kind": "youtube#video",
                "videoId": "ED8d6OQ4IyA"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "eTPL20DYsS3t7Bfk7j0D7EnpUAQ",
              "id": {
                "kind": "youtube#video",
                "videoId": "jk_s0_hsuqI"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "qGCj4MQYtLRbNJtWC_MsDzqFM9c",
              "id": {
                "kind": "youtube#video",
                "videoId": "cKvqSLiOT3A"
              }
            }
          ]
        }
  recorded_at: Wed, 06 Mar 2024 03:43:23 GMT
recorded_with: VCR 6.2.0
