---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=AIzaSyCiEa2zOYvS5-xexZD3kVXPvG2otSsKVyA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "EwQRqh5RTAn0RoqVbUp-k8IQZpY",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "frPg0d1OG7qfXNMHQwps4D0QqmM",
              "id": {
                "kind": "youtube#video",
                "videoId": "oAGow4FpWQw"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "nprUYRG1NFOMWhJTs_dqGZU_xBg",
              "id": {
                "kind": "youtube#video",
                "videoId": "hh5rbWHIg8g"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "KdMz9wKUPxgsvhTeA8sZ5JLkLYg",
              "id": {
                "kind": "youtube#video",
                "videoId": "nHCVfceNuxQ"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "JDiCy4n8MoQRLLZIiiyP_N-gTBs",
              "id": {
                "kind": "youtube#video",
                "videoId": "yncUZ_zhxdQ"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "kn18lmWp-zKHp6kM7SfDMRZOkn8",
              "id": {
                "kind": "youtube#video",
                "videoId": "ClMyyOmrqfg"
              }
            }
          ]
        }
  recorded_at: Wed, 06 Mar 2024 05:58:43 GMT
recorded_with: VCR 6.2.0
